<div class="container">
  <div class="row">
    <p>
      <strong>Name:</strong>
      <%= @event.name %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @event.time %>
    </p>

    <p>
      <strong>Deadline:</strong>
      <%= @event.deadline %>
    </p>
    <% first = true %>
    <% @event.destinations.order('vote_count DESC').each do |place| %>
        <div class='place <%= "bg-yellow" if @event.votes.count >= 4 && first %>'>
          <div class='place_vote pull-right'>
            <% if @event.votes.count >= 4 %>
              <% if first %>
                <% first = false %>
                Winner!
                <a class="btn btn-primary" href="uber://?client_id=<%= ENV['UBER_CLIENT_ID'] %>&action=setPickup&dropoff[latitude]=<%= place.latitude %>&dropoff[longitude]=<%= place.longitude %>&dropoff[nickname]=<%= place.name %>&dropoff[formatted_address]=<%= place.vicinity %>">
                Call Uber</a>
              <% end %>
              <div class='btn btn-default'>
                <%= place.votes.count %>
              </div>
            <% else %>
              Vote: <%= link_to place.votes.count, votes_path(destination_id: place.id), method: :post, class: 'btn btn-primary' %>
            <% end %>
          </div>
          <div class='place_title'><%= place.name %></div>
          <div class='place_address'><%= place.vicinity %></div>
        </div>
    <% end %>
  </div>
</div>

